In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer


import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bilal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\bilal\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [23]:
df_ham = pd.read_csv('HamData.csv')

df_ham['Content'] = df_ham['Content'].str.lower()

df_ham

     Category                                            Content
0         ham  go until jurong point  crazy   available only ...
1         ham                      ok lar    joking wif u oni
2         ham  u dun say so early hor    u c already then say
3         ham  nah i don t think he goes to usf  he lives aro...
4         ham  even my brother is not like to speak with me  ...
...       ...                                                ...
4820      ham                                       huh y lei
4821      ham              will    b going to esplanade fr home
4822      ham  pity    was in mood for that  so   any other s...
4823      ham  the guy did some bitching but i acted like i d...
4824      ham                         rofl  its true to its name

[4825 rows x 2 columns]

In [24]:
def remove_punctuation(text):
    return re.sub(r'[^a-zA-Z0-9\s]', '', str(text))

In [25]:
df_ham['Content'] = df_ham['Content'].apply(remove_punctuation)

In [26]:
stop = stopwords.words('english')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    return ' '.join(word for word in text.split() if word.lower() not in stop_words)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bilal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
df_ham['Content'] = df_ham['Content'].apply(remove_stopwords)

df_ham

     Category                                            Content
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2         ham                u dun say early hor u c already say
3         ham             nah think goes usf lives around though
4         ham     even brother like speak treat like aids patent
...       ...                                                ...
4820      ham                                            huh lei
4821      ham                          b going esplanade fr home
4822      ham                              pity mood suggestions
4823      ham  guy bitching acted like interested buying some...
4824      ham                                     rofl true name

[4825 rows x 2 columns]

In [28]:
df_ham['Content'] = df_ham['Content'].astype(str).apply(lambda x: x.split())

df_ham

     Category                                            Content
0         ham  [go, jurong, point, crazy, available, bugis, n...
1         ham                     [ok, lar, joking, wif, u, oni]
2         ham      [u, dun, say, early, hor, u, c, already, say]
3         ham     [nah, think, goes, usf, lives, around, though]
4         ham  [even, brother, like, speak, treat, like, aids...
...       ...                                                ...
4820      ham                                         [huh, lei]
4821      ham                    [b, going, esplanade, fr, home]
4822      ham                          [pity, mood, suggestions]
4823      ham  [guy, bitching, acted, like, interested, buyin...
4824      ham                                 [rofl, true, name]

[4825 rows x 2 columns]

In [33]:
df_ham['Content'] = df_ham['Content'].apply(lambda x: " ".join(x) if isinstance(x, list) else x)
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df_ham['Content'])

In [38]:
print(X.shape) 
print(X.toarray()[:5])

(4825, 6685)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'y' is not defined