In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer


import nltk
nltk.download('stopwords')
nltk.download('punkt')


df = pd.read_csv('SpamData.csv')


df['Content'] = df['Content'].str.lower()

df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bilal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\bilal\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

     Unnamed: 0 Category                                            Content
0             0     spam  free entry in 2 a wkly comp to win fa cup fina...
1             1     spam  freemsg hey there darling it s been 3 week s n...
2             2     spam  winner   as a valued network customer you have...
3             3     spam  had your mobile 11 months or more  u r entitle...
4             4     spam  six chances to win cash  from 100 to 20 000 po...
..          ...      ...                                                ...
742         742     spam  want explicit sex in 30 secs  ring 02073162414...
743         743     spam  asked 3mobile if 0870 chatlines inclu in free ...
744         744     spam  had your contract mobile 11 mnths  latest moto...
745         745     spam  reminder from o2  to get 2 50 pounds free call...
746         746     spam  this is the 2nd time we have tried 2 contact u...

[747 rows x 3 columns]

In [5]:
def remove_punctuation(text):
    return re.sub(r'[^a-zA-Z0-9\s]', '', str(text))

In [6]:
df['Content'] = df['Content'].apply(remove_punctuation)

df

     Unnamed: 0 Category                                            Content
0             0     spam  free entry in 2 a wkly comp to win fa cup fina...
1             1     spam  freemsg hey there darling it s been 3 week s n...
2             2     spam  winner   as a valued network customer you have...
3             3     spam  had your mobile 11 months or more  u r entitle...
4             4     spam  six chances to win cash  from 100 to 20 000 po...
..          ...      ...                                                ...
742         742     spam  want explicit sex in 30 secs  ring 02073162414...
743         743     spam  asked 3mobile if 0870 chatlines inclu in free ...
744         744     spam  had your contract mobile 11 mnths  latest moto...
745         745     spam  reminder from o2  to get 2 50 pounds free call...
746         746     spam  this is the 2nd time we have tried 2 contact u...

[747 rows x 3 columns]

In [20]:
stop = stopwords.words('english')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    return ' '.join(word for word in text.split() if word.lower() not in stop_words)

df['Content'] = df['Content'].apply(remove_stopwords)

df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bilal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

    Category                                            Content
0       spam  free entry 2 wkly comp win fa cup final tkts 2...
1       spam  freemsg hey darling 3 weeks word back id like ...
2       spam  winner valued network customer selected receiv...
3       spam  mobile 11 months u r entitled update latest co...
4       spam  six chances win cash 100 20000 pounds txt csh1...
..       ...                                                ...
742     spam  want explicit sex 30 secs ring 02073162414 cos...
743     spam  asked 3mobile 0870 chatlines inclu free mins i...
744     spam  contract mobile 11 mnths latest motorola nokia...
745     spam  reminder o2 get 250 pounds free call credit de...
746     spam  2nd time tried 2 contact u u 750 pound prize 2...

[747 rows x 2 columns]

In [21]:
df['Content'] = df['Content'].astype(str).apply(lambda x: x.split())

df

    Category                                            Content
0       spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...
1       spam  [freemsg, hey, darling, 3, weeks, word, back, ...
2       spam  [winner, valued, network, customer, selected, ...
3       spam  [mobile, 11, months, u, r, entitled, update, l...
4       spam  [six, chances, win, cash, 100, 20000, pounds, ...
..       ...                                                ...
742     spam  [want, explicit, sex, 30, secs, ring, 02073162...
743     spam  [asked, 3mobile, 0870, chatlines, inclu, free,...
744     spam  [contract, mobile, 11, mnths, latest, motorola...
745     spam  [reminder, o2, get, 250, pounds, free, call, c...
746     spam  [2nd, time, tried, 2, contact, u, u, 750, poun...

[747 rows x 2 columns]

In [8]:
vectorizer = TfidfVectorizer()

X = vectorizer.fit_transform(df['Content'])

In [9]:
print(X.shape) 
print(X.toarray()[:5])

(747, 2851)
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.18175156 0.         ... 0.         0.         0.        ]]